@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url("../font/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'LatoB';
    font-style: bold;
    font-weight: 800;
    src: url('../font/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoI';
    font-style: italic;
    font-weight: 400;
    src: url('../font/Lato-Italic.ttf') format('truetype');
}

@keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    /* 80% {
      transform: scaleY(1.1);
    } */
    100% {
      transform: scaleY(1);
    }
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg_contacts, .star, .fire, .sale, .cart_block img, .wallpaper_sale {
    z-index: -1;
}

.nextButton_img {
    transform: rotate(180deg);
}

.footer_block2 a, .footer_element a {
    text-decoration: none;
    color: inherit;
}

.footer_element a:hover {
    color: #EBB313;
}

.s2_b_c_hover:hover {
    background-color: #00ADB5;
    color: #fff;
    transition: .1s ease-in;
}

.border_top {
    border-top: 5px solid #EBB313;
}

.blue_color {
    color: #00ADB5;
}

.pink_color {
    color: #FF449F;
}

.yellow_color {
    color: #EBB313;
}

.orange_color {
    color: #FF6B00;
}

.gray_color {
    color: #00000040;
}

.light_gray_color {
    color: #EDEDED80;
}

.gray_color2 {
    color: #D9D9D9;
}

.white_color {
    color: #fff;
}

.bg_pink {
    background-color: #FF449F;
}

.bg_blue {
    background-color: #00ADB5;
}

.bg_orange {
    background-color: #FF6B00;
}

.bg_white {
    background-color: #fff;
}

.bg_light_gray {
    background-color: #EDEDED80;
}

.border_bottom_pink {
    border-bottom: 1px solid #FF449F;
}

.border_bottom_pink2 {
    border-bottom: 3px solid #FF449F;
}

.border_gray {
    border: 1px solid #D9D9D9;
}

.menu {
    max-width: 1234px; 
    color: white; 
    height: 102px;
}

.menu_contacts {
    width: 30%;
}

.contacts {
    font-size: 16px;
    width: 152px;
}

.number {
    border-bottom: #EBB313 solid 1px;
}

.city {
    
    height: 16px;
}

.search, form {
    width: 230px;
    height: 37px; 
    border-radius: 14px;
}

.cart_button_counter {
    background-color: #fff; 
    width: 30px;
    border-radius: 7px;
}

.counter, .cart_button_counter {
    margin-right: 10px;
    height: 16px; 
    font-size: 12px;
} 

.counter {
    border-radius: 14px;
    width: 20px;
    color: #00ADB5; 
    background-color: #ffffffa1;
}

form {
    width: 210px;
    background: #00ADB5;
    border: white 1px solid; 
    color: white;
}

input {
    width: 150px;
}

input::placeholder {
    color: white;
}

input, button {
    border: none;
    outline: none;
    background: #00ADB5;
}

.cart_button {
    width: 154px;
    height: 37px;
    border-radius: 14px;
}
  
.header_block3 {
    width: 30%;
}

nav {
    z-index: 5;
    position: relative;
}

/* Screen 2 */

.block2 {
    border-top: 5px solid #FF449F;
    background: url(../img/background.png),linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),linear-gradient(to right, rgba(0, 173, 181, 0.4), rgba(0, 173, 181, 0.4)) center no-repeat;
    background-size: cover;
}

.screen2 {
    width: 1234px; 
    height: 510px;
    z-index: 1;
}

.desc {
    width: 1071px;
    font-weight: 800; 
    font-size: 48px;
    line-height: 72px;
    color: white;
}

.screen2_text, .screen2_text span {
    width: 100%;
    font-family: 'LatoB';
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 0.05em;
}

.screen2_blocks {
    width: 1077px;
}

.screen2_block {
    background: #fff;
    width: 197px; 
    height: 137px;
    border: 3px solid #00ADB5;
    border-radius: 14px;
    color: #00ADB5;
}

.s2_b_c_height {
    height: 97px;
}

.s2_b_c_border {
    border: 1px solid #00ADB5;
}

.s2_b_height {
    height: 153px;
}

.decor {
    margin-bottom: 2px;
}

.screen2_block div.blue_color {
    width: 166px;
    /* height: 37px; */
    padding: 5px 0;
    background: #00ADB51A;
    border: 1px solid #ffffff00;
    border-radius: 14px;
    text-align: center;
}

.screen2_block span {
    font-family: 'Lato';
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

/* Screen3 */

.cart {
    width: 23;
    height: 20;
}

.star {
    width: 600px;
    height: 590px;
    top: 190px;
    right: 10px;
    background-image: url(../../svg/star.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.sale {
    top: 10px;
    left: 100px;
    opacity: 0.1;
}

.fire {
    top: -180px;
    right: 0;
    opacity: 0.1;
}

.mg_s3 {
    margin-bottom: 100px;
}

.screen3 {
    width: 1360px;
    height: 691px;
    padding-top: 50px;
}

.screen3_text {
    padding-bottom: 50px;
}

.screen3_text span {
    font-family: 'LatoB';
    font-size: 42px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;

}

.screen3_cards {
    width: 1243px;
}

.screen3_block {
    border-color: #000;
    border-radius: 14px;
    width: 296px;
    height: 529px;
}

.screen3_blocks {
    /* width: 1350px; */
}

.s3_b_img img{
    width: 294px;
    height: 258px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.discount {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    width: 60px;
    height: 26px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 5px;
}

.s3_b_text2 {
    font-family: "LatoB";
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    height: 35%;
    background-color: #fff;
}

.s3_b_text1 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

.s3_b_text0 {
    font-family: 'LatoB';
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    background-color: #fff;
    border-radius: 5px;
    width: 89px;
    height: 26px;
}

.s3_b_text1 p {
    margin: 0;
}

.s3_b_f_text1 {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: #D9D9D9;
    text-decoration: line-through;
    text-decoration-color: red;
    text-align: left;
}

.s3_b_f_text2 {
    font-family: 'LatoB', 'PT Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: white;
}

.s3_b_footer_pink button {
    border-radius: 14px;
    background-color: #fff;
    width: 120px;
    height: 37px;
}

.s3_b_footer_orange button {
    border-radius: 14px;
    background-color: #fff;
    width: 120px;
    height: 37px;
}

.s3_b_footer_orange img {
    width: 24px;
    height: 20px;
}

.s3_b_footer_blue button {
    border-radius: 14px;
    background-color: #fff;
    width: 120px;
    height: 37px;
}

.s3_b_pink {
    border: 1px solid #FF449F;
}

.s3_b_blue {
    border: 1px solid #00ADB5;
}

.s3_b_orange {
    border: 1px solid #FF6B00;
}

.s3_b_footer_pink {
    background-color: #FF449F;
    height: 68px;
    border: 1px solid #FF449F;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.s3_b_footer_blue {
    background-color: #00ADB5;
    height: 68px;
    border: 1px solid #00ADB5;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.s3_b_footer_orange {
    background-color: #FF6B00;
    height: 68px;
    border: 1px solid #FF6B00;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.s3_b1_text {
    height: 55px;
}

.bg_pink2 {
    background-color: #ffedf6;
}

.bg_orange2 {
    background-color: #fff1e6;
}

.s3_b_text {
    height: 55px;
    background-color: #e6f7f8;
}

.owl-dots {
    list-style-type: none;
    width: 96px;
    padding: 0;
}

/* Screen4 */

.block4 {
    border-top: 5px solid #FF449F;
    margin-top: 200px;
    padding: 50px 0;
}

.screen4 {
    max-width: 1234px;
    width: 100%;
    /* height: 745px; */
}

.screen4_text {
    font-family: 'Lato';
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 50px;
}

.screen4_blocks {
    /* height: 55%; */
}

.screen4_element {
    background-color: #fff;
    width: 389px;
    height: 187px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.s4_e_header {
    width: 100%;
    padding-bottom: 8px;
}

.s4_e_img {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    background-color: #000;
}

.s4_e_h_element {
    width: 299px;
}

.s4_e_h_date {
    font-family: 'LatoB';
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
}

.s4_e_h_text {
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    height: 16px;
}

.screen4 button {
    font-family: "LatoB";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    width: 220.5px;
    height: 66px;
    border-radius: 14px;
    color: White;
    margin-top: 50px;
}

/* Screen5 */

.block5 {
    border-top: 5px solid #EBB313;
}

.screen5 {
    width: 100%;
    height: calc(745px/2);
    
}

.screen5 iframe {
    width: 100%;
    height: 100%;
}

/* Footer */

footer {
    border-top: 5px solid #FF449F;
}

.foot {
    width: 1234px;
    height: auto;
    padding: 50px 0;
}

.footer_block1, .footer_block2, .footer_element {
    height: 167px;
}

.footer_text1 {
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em; 
}

.footer_text2 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.footer_block1 {
    width: 291px;
}

.contact {
    height: 69px;
}

/* .contact img {
    margin-left: 10px;
} */

.f_b2_text_border_blue {
    border-bottom: 1px solid #00ADB5;
}

.f_b2_text_border_white {
    border-bottom: 1px solid #fff;
}

.footer_block2_text2 {
    width: 140px;
}

.footer_block {
    width: 40%;
}

/* Contacts */

.bg_contacts {
    top: -250px;
    right: -55px;
}

.block2_c {
    border-top: 5px solid #FF449F;
}

.contacts_block {
    border-top: 5px solid #EBB313;
}

.contacts_screen {
    width: 1234px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px 0px 40px 0px;
}

.contacts_screen iframe {
    width: 883px;
    height: 520px;
}

.contacts_info {
    width: 357px;
    height: 520px;
    background-color: #00ADB50D;
}

.contacts_info, .contacts_screen iframe {
    border: 1px solid #00ADB5;
    border-radius: 14px;
}

.c_i_elem_span1 {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
}

.c_i_elem_span2, .c_i_elem_span3 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

/* .c_i_elem_border_bottom1 {
    top: 105px;
} */

.c_i_elem_border_bottom {
    width: 101px;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #00ADB580;
    top: 105px;
}

/* .c_i_elem_border_bottom2 {
    top: 105px;
} */

.c_i_elem_span1_width {
    width: 155px;
}

.c_i_elem_span2_width {
    width: 140px;
}

.c_i_elem_span3_width {
    width: 115px;
}

.contacts_text1 {
    width: 227px;
}

.c_t1_span1 {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    border-bottom: 1px solid #00ADB5;
}

.c_t1_span3 {
    border-bottom: 1px solid #00ADB5;
}

.c_t1_span2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    margin-left: 5px;
}

.contacts_text2, .about_company_text1, .about_company_footer span {
    font-family: 'LatoB';
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.contacts_text2 {
    margin: 50px 0;
}

.contacts_icons {
    width: 141px;
    height: 41px;
}

.contacts_icon {
    width: 40px;
    height: 40px;
}

/* Catalog */

/* .catalog_screen {
    margin-top: 40px;
} */

.catalog_block_header {
    border-radius: 14px;
    width: 219px;
    cursor: pointer;
    transition: .2s ease-in;
}

.catalog_block_text {
    height: 80px;
}

.catalog_block_header span {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

.catalog_block_header svg {
    transition: .2s ease-in;
}

.dropdown_menu_click {
    width: 219px;
    background-color: #ffedf6;
    list-style-type: none;
    padding: 10px;
    border: 1px solid #FF449F;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    animation: growDown .2s ease-in-out forwards;
    transform-origin: top center;
    display: none;
    margin: -12px 0 0 0;
    flex-direction: column;
}

.visible {
    display: block !important;
}

.b_r_bl_br_0 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Catalog_filter screen */

.catalog_filter_text1, .catalog_filter_text2, .catalog_filter_text3 {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

.catalog_filter_text1, .catalog_filter_text2 {
    border-bottom: 1px solid #00ADB5;
}

.catalog_filter_text {
    font-family: 'LatoB';
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
}

.catalog_filter_screen {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 1234px;
}

/* .sort span {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
} */

.catalog_filter_block {
    border-top: 5px solid #EBB313;
}

.filter {
    height: 966px;
    width: 30%;
    border-radius: 14px;
}

.filter_header {
    height: 59px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.filter_footer {
    height: 85px;
    background-color: #00ADB51A;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.filter_footer button {
    width: 185px;
    height: 37px;
    border-radius: 14px;
}

.filter_body_header {
    height: 144px;
}

.filter_body_center {
    height: 542px;
    padding-top: 20px;
    border-top: 1px solid #00ADB51A;
    border-bottom: 1px solid #00ADB51A;
}

.filter_body_center_elem span, .filter_body_header span, .filter_body_footer_text1 {
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}

.filter_body_center_elem {
    margin-bottom: 20px;
}

.filter_body_center_btn {
    margin-top: 10px;
}

.filter_body_center_btn span, .filter_body_footer_text2 {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.filter_body_footer {
    height: 135px;
}

.filter_dots {
    margin-top: 60px;
    width: 110px;
}

/* About company */

.about_company_screen {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 1234px;
}

.about_company_block {
    border-top: 5px solid #EBB313;
}

.about_company_text2 {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    height: 120px;
}

.about_company_text2 span{
    color: #FF449F;
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.about_company_footer {
    height: 767px;
    border: 1px solid #00ADB5;
    border-radius: 14px;
    background-color: #00ADB51A;
}

.about_company_footer button {
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    width: 378px;
    height: 74px;
    border-radius: 14px;
}

.about_company_body {
    width: 1160px;
    height: 478px;
}

.about_company_body_elem {
    border: 2px solid #00ADB5;
    border-radius: 14px;
    width: 372px;
    height: 224px;
    padding: 0;
}

.about_company_body_elem a {
    width: 100%;
    height: 100%;
    outline: none;
}

.about_company_body_elem img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    outline: none;
}

.about_company_bg {
    width: 600px;
    height: 600px;
    top: 0;
    right: 0;
    padding: 0px, 4.75px, 0px, 4.75px;
    opacity: 0.05px;
    z-index: -1;
}


/* Cart empty  */

.cart_block {
    border-top: 5px solid #EBB313;
}

.cart_screen_text {
    margin-bottom: 40px;
}

.cart_screen {
    width: 100%;
    max-width: 1234px;
    /* height: 1100px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

.cart_height {
    height: 1200px;
}

.cart_screen_block span {
    font-family: 'LatoB';
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
}

.cart_screen_elem {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 40px;
}

.cart_screen_elem span {
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    border-bottom: 1px solid #FF449F;
}

.cart_screen_block {
    height: auto;
    background-color: #00ADB51A;
    border-radius: 14px;
    padding: 100px 20px;
}

.cart_img {
    top: -40px;
    right: 0;
}

/* Wallpaper  */

.wallpaper_screen {
    width: 1234px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wallpaper_block {
    border-top: 5px solid #EBB313;
}

.wallpaper_screen_elem1 {
    height: 957px;
}

.wallpaper_screen_elem1_body_block1 {
    width: 705px;
    border-radius: 14px;
}

.wallpaper_screen_elem1_body_block1 img {
    border-radius: 12px;
}

.wallpaper_screen_elem1_body_block2, .wallpaper_screen_elem1_body_block2 {
    height: 705px;
}

.wallpaper_screen_elem1_text {
    font-family: 'LatoB';
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
}

.wallpaper_screen_elem1_body_e1, .wallpaper_screen_elem1_body_e2 {
    width: 505px;
    border: 1px solid #00ADB5;
    border-radius: 14px;
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wallpaper_screen_elem1_body_e3 {
    border: 1px solid #00ADB5;
    border-radius: 14px;
    width: 505px;
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}

.wallpaper_screen_elem1_body_e1 span, .wallpaper_screen_elem1_body_e2 span {
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    color: #FF449F;
}

.wallpaper_screen_elem1_body_e1_text {
    height: 71px;
}

.wallpaper_screen_elem1_body_e2_text {
    height: 157px;
}

.wallpaper_screen_elem1_body_e3_text {
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    height: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.wallpaper_screen_elem1_body_e1 {
    height: 123px;
}

.wallpaper_screen_elem1_body_e2 {
    height: 209px;
}

.wallpaper_screen_elem1_body_e3 {
    height: 286px;
}

.wallpaper_screen_elem1_body_e_header {
    width: 100%;
    height: 52px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #00ADB5;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallpaper_screen_elem1_footer {
    width: 705px;
}

.wallpaper_screen_elem1_footer img{
    width: 125px;
    height: 125px;
    border-radius: 14px;
}

.wallpaper_screen_elem1_body_e_footer {
    width: 478px;
    height: 60px;
    border-radius: 14px;
    background-color: #00ADB51A;
}

.footer_pink {
    background-color: #FF449F1A;
}

.footer_orange {
    background-color: #FF6B001A;
}

.st_f_screen_footer_text2 {
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.wallpaper_screen_elem1_body_e_footer input {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.wallpaper_screen_elem1 svg {
    top: -30px;
    right: 70px;
    z-index: -1;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.footer_button {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    width: 147px;
    height: 40px;
}

.q-minus, .q-plus {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    width: 34px;
    height: 40px;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
}   

.q-minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.q-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wallpaper_cards {
    width: 1234px;
    height: 600px;
}

.wallpaper_screen_elem2_text {
    width: 1234px;
}

.wallpaper_screen_elem2_text {
    font-family: 'LatoB';
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
}

.cards_block {
    width: 1350px;
}

.wallpaper_screen_elem2 {
    margin-bottom: 100px;
}

.lt_text {
    color: #ffffff00;
}

.st_f_screen_footer_text1 {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: #00000040;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #FF449F;
}

.text-d-orange {
    text-decoration-color: #FF6B00;
}

.wallpaper_sale {
    width: 500px;
    height: 500px;
    top: 410px;
    right: 700px;
    opacity: 0.05;
}

/* Order reg  */

.height_reg {
    height: 1500px;
}

.reciever_block {
    width: 1250px;
}

.reciever_block_header, .reciever_block_e2_header {
    height: 65px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
}

.reciever_block_e1 {
    width: 813px;
    border-radius: 14px;
}

.reciever_block_body input::placeholder, .com_placeholder, .reciever_block_e2_2_body_block2 input::placeholder { 
    font-family: 'LatoI';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #00ADB580;
}

.reciever_block_e2_2_body_block2 input {
    padding-left: 10px;
}

.com_placeholder {
    color: #00ADB580;
    top: 15px;
    left: 11px;
    pointer-events: none;
}

.reciever_block_input_com:focus ~ .com_placeholder,
.reciever_block_input_com:valid ~ .com_placeholder {
    display: none;
}

.reciever_block_body {
    padding: 20.550px;
}

.reciever_block_input, .reciever_block_input_com  {
    padding-left: 10px;
    border-radius: 14px;
}

.reciever_block_input {
    width: 770.3px;
    height: 58px;
}

.reciever_block_input_com {
    width: 770.16px;
    height: 128px;
    word-wrap: break-word;
    resize: none;
    padding-top: 10px;
}

.reciever_block_input_com:focus {
    outline: none;
}

.reciever_block_e2_1 {
    height: 591px;
}

.reciever_block_e2_1, .reciever_block_e2_2 {
    width: 429px;
    border-radius: 14px;
}

.reciever_block_e2_2 {
    height: 545px;
}

.entity_block {
    width: 770.3px;
    height: 60px;
    border-radius: 14px;
    margin-top: 20px;
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
}

.entity_block1, .entity_block2 {
    border: 1px solid #00ADB5;
}

.entity_block1, .entity_block2, .choice_elem1, .choice_elem2 {
    width: 50%;
    height: calc(inherit-2px);
}

.entity_block1, .choice_elem1 {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.entity_block2, .choice_elem2 {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.check input, .goods_input1, .goods_input2, .goods_input3, .goods_input {
    width: 25px;
    height: 25px;
}

.goods_input, .goods_input1, .goods_input2, .goods_input3, .check input, .pink_check, .orange_check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.goods_input+label, .goods_input1+label, .goods_input2+label, .goods_input3+label, .check input+label {
    width: 25px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}
.goods_input+label::before, .goods_input1+label::before, .goods_input2+label::before, .goods_input3+label::before, .check input+label::before {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #00ADB5;
    border-radius: 5px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.goods_input:checked+label::before, .goods_input1:checked+label::before, .goods_input2:checked+label::before, .goods_input3:checked+label::before, .check input:checked+label::before {
    background-color: #00ADB5;
    background-image: url(../svg/checkmark.svg);
}

.check span {
    font-family: 'LatoI';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.reciever_block_footer {
    width: 813px;
    height: 139px;
}

.reciever_block_body_text1 {
    width: 770.16px;
}

.reciever_block_footer {
    width: 810px;
    height: 139px;
    background-color: #00ADB51A;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.reciever_block_footer button {
    width: 769.73px;
    height: 52px;
    border-radius: 14px;
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0em;
}

.reciever_block_footer_text {
    font-family: 'LatoI';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.reciever_block_text_bold {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

.reciever_block_body_text1_italic {
    font-family: 'Lato';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0em;
}

.choice_block2, .choice_block1 {
    width: 380px;
    height: 60px;
    border: 1px solid #00ADB5;
    border-radius: 14px;
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom: 20.550px;
}


.end_div2_text1 {
    font-family: 'LatoB';
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
}

.end_div2_text2 {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.reciever_block_e2_body_block3 {
    width: 390px;
    height: 226px;
    border-radius: 14px;
    background-image: url(../img/image\ 9.png);
}

.background-tint_black {
    background-color: rgb(45,62,62);
    background-blend-mode: multiply;
}

.reciever_block_e2_body_block3 {
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.reciever_block_e2_body_block2 {
    width: 380px;
    height: 64px;
}

.reciever_block_e2_2_body_block2 {
    width: 380px;
    height: 188px;
}

.body_block2_text1 {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    color: #00ADB5;  
}

.body_block2_text2 {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FF449F;
}

.reciever_block_e2_footer_1 {
    height: 88px;
}

.reciever_block_e2_footer_1, .reciever_block_e2_footer_2 {
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top: 1px solid #00ADB5;
    background-color: #e6f7f8;
}

.reciever_block_e2_footer_2 {
    height: 150px;
}

.reciever_block_e2_footer_1 div{
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.reciever_block_e2_1_body {
    height: 74%;
}

.reciever_block_e2_1_body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.reciever_block_e2_2_body {
    padding-top: 20px;
    padding-bottom: 20.550px;
}

.reciever_block_e2_2_body {
    height: 60.4%;
}

.reciever_block_e2_body_block2 input, .reciever_block_e2_2_body_block2 input {
    width: 380px;
    height: 58px;
    border: 1px solid #00ADB5;
    background-color: #fff;
    border-radius: 14px;
}

.reciever_block_e2_2_body_block2 span {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #00ADB5;
    margin-bottom: 5px;
}

.reciever_block_e2_footer_2 {
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

/* Cart  */

.goods_elem1_body_block_end_header {
    height: 65px;
}

.goods_block {
    width: 1234px;
}

.goods_elem1 {
    width: 914px;
    height: 830px;
    border-radius: 14px;
}

.goods_elem1_header_elem1, .goods_elem2_header {
    height: 65px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    overflow: visible;
}

.goods_elem1_header_elem1 span, .goods_elem2_header span {
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
}

.goods_elem1_header_elem2 {
    height: 75px;
}

.goods_elem1_header_elem2_t1, .goods_elem1_header_elem2_t2 {
    font-family: 'LatoB';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    border-bottom: 1px solid;
    height: 20px;
}

.goods_elem1_body_block {
    height: 229px;
    border-top: 1px solid #00ADB533;
    /* border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px; */
}

.checked_bg {
    background-color: #f2fbfb;
}

.goods_elem1_body_block_end {
    width: 74%;
    height: 150px;
}

.goods_elem1_body_block_end_footer {
    height: 40px;
}

.quantity {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.goods_elem1_footer_text1 {
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.goods_elem1_footer_text2 {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-decoration: line-through;
    text-decoration-color: #FF0000;
    color: #D9D9D9;
}

.goods_elem1_header_text1 {
    font-family: 'LatoB';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.goods_elem1_header_text2 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

.goods_elem1_body_block_end_div1 {
    border-radius: 5px;
    width: 89px;
    height: 26px;
    font-family: 'LatoB';
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
}

.goods_elem2 {
    width: 313px;
    height: 380px;
    border-radius: 14px;
    position: sticky;
    right: 0;

}

.goods_elem2_body {
    height: 228px;
}

.goods_elem2_body_center {
    height: 150px;
    font-family: 'LatoB';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
}

.goods_elem2_footer {
    height: 85px;
    background-color: #e6f7f8;
    border-top: 1px solid #00ADB5;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.goods_elem2_footer button {
    width: 274px;
    height: 52px;
    border-radius: 14px;
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0em;
}

.goods_elem2_body_border1, .goods_elem2_body_border2, .reciever_block_e2_footer_border {
    width: 50px;
    border-bottom: 1px solid #80d6da;
}

.goods_elem2_body_border1 {
    top: 145px;
    left: 130px;
}

.goods_elem2_body_border2 {
    top: 220px;
    left: 130px;
}

.goods_elem1_body_block_end_div2 {
    width: 170px;
    height: 33px;
    border-radius: 5px;
    background-color: #daf3f4;
}

.goods_img img{
    border-radius: 14px;
    width: 150px;
    height: 150px;
    z-index: 2;
}

img.goods_img {
    border-radius: 14px;
    width: 150px;
    height: 150px;
}

.goods_elem1_body_block img.goods_sale, .goods_elem1_body_block img.goods_fire {
    width: 100px;
    height: 100px;
    pointer-events: none;  
}

.goods_elem1_body_block img.goods_sale {
    top: -25px;
    left: -20px;
}

.goods_elem1_body_block img.goods_fire {
    top: -30px;
    left: -35px;
}

img.goods_sale, img.goods_fire {
    z-index: 1;
    opacity: 10%;
}

img.goods_fire {
    width: 73.7px;
    height: 93.39px;
    top: 10px;
    left: 56px;
}

.rs_value1, .rs_value2 {
    width: 71px;
    height: 25px;
    background-color: #E5F7F8;
    z-index: 2;
}

.rs_values {
    height: 20px;
}

.rs_value1 {
    border-radius: 0px 5px 5px 5px;
}

.rs_value2 {
    border-radius: 5px 0px 5px 5px;
}

.rs_value1_triangle {
    border: 10px solid transparent; 
    border-bottom: 10px solid #E5F7F8; 
    border-left: 10px solid #E5F7F8;
    z-index: 1;
    top: -10px;
}

.rs_value2_triangle {
    border: 10px solid transparent; 
    border-right: 10px solid #E5F7F8; 
    border-bottom: 10px solid #E5F7F8;
    z-index: 1;
    top: -10px;
    left: 218px;
}

.range-slider__container .range-slider__tooltip {
    background-color: #00ADB5 !important;
    width: 69px;
    height: 25px;
    font-family: 'Lato' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 14px !important;
    letter-spacing: 0em !important;
    border-radius: 5px !important;
}

.range-slider__container .range-slider__tooltip::after {
    background-color: #00ADB5 !important;
}

.prevButton1, .prevButton2, .prevButton3, .prevButton4 {
    transform: rotate(180deg);
}

.nextButton1, .nextButton2, .nextButton3, .nextButton4, .prevButton1, .prevButton2, .prevButton3, .prevButton4 {
    display: flex;
    cursor: pointer;
}

.slider1 .owl-dot.active span {
    background-color: #00ADB5 !important;
}

.slider2 .owl-dot.active span {
    background-color: #FF449F !important;
}

.slider3 .owl-dot.active span {
    background-color: #FF6B00 !important;
}

.owl-carousel {
    position: relative;
}

.owl-dots {
    position: absolute !important;
    top: 529px;
    width: 100%;
}

.block2_bg {
    background-color: #091e20c4;
    width: 100%;
    height: 100%;
    z-index: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.pink_check, .orange_check {
    width: 14px;
    height: 14px;
}

.pink_check+label, .orange_check+label {
    width: 14px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 5px;
}

.pink_check+label::before {
    border: 1px solid #FF449F;
}

.orange_check+label::before {
    border: 1px solid #FF6B00;
}

.pink_check+label::before, .orange_check+label::before {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.pink_check:checked+label::before {
    background-color: #FF449F;
}

.orange_check:checked+label::before {
    background-color: #FF6B00;
}

.nice-select {
    display: flex !important;
    justify-content: start;
    align-items: center;
}

.nice-select.open {
    width: 100%;
}

.list li {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    border-bottom: 1px solid #00ADB533;
}

.nice-select .option:hover, .option.selected.focus:hover, .option.selected:not(:hover), .list li.selected {
    color: #fff;
}

.option.selected.focus, .option.selected.focus:not(:hover) {
    color: #00ADB5;
}

.nice-select:hover, .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: inherit !important;
}

.nice-select .option:hover {
    background-color: #00ADB5 !important;
}

.sort .nice-select::after, .filter_body_center_btn .nice-select::after {
    border: none;
    transform: rotate(0);
}

.sort .nice-select::after {
    border: none;
    width: 25px;
    height: 25px;
    top: calc(50% - 8px);
    background-image: url(../svg/list_down.svg);
    
}

.filter_body_center_btn .nice-select::after {
    content: ' ';
    top: 20%;
    right: 20px;
    width: 13px;
    height: 13px;
    transform: rotate(225deg);
    background-color: #fff transparent;
    border-left: 1px solid #00ADB5;
    border-top: 1px solid #00ADB5;
}

.filter_body_center_btn .nice-select.open:after {
    content: ' ';
    top: 60%;
    background-color: #00ADB5 transparent;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
}

.sort .nice-select.open:after {
    background-image: url(../svg/list_down2.svg);
    transform: rotate(0);
}

.sort .nice-select .list, .filter_body_center_btn .nice-select .list {
    transform: translateY(0px);
    width: 100%;
    transition: all 0.2s ease-in-out, opacity 0.15s ease-out;
    transform: translateY(-100px);
    border: 1px solid #00ADB5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.sort .nice-select.open, .filter_body_center_btn .nice-select.open {
    background-color: #00ADB5;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sort .nice-select.open .list, .filter_body_center_btn .nice-select.open .list {
    transform: translateY(0);
    top: 90%;
    width: 100%;
}

.sort .nice-select.open .list, .filter_body_center_btn .nice-select.open .list {
    color: #00ADB5;
}

.sort .nice-select {
    width: 287px;
    height: 47px;
}

.sort .nice-select, .filter_body_center_btn .nice-select {
    border: 1px solid #00ADB5;
    border-radius: 14px;
}

.filter_body_center_btn .nice-select {
    width: 100% !important;
    height: 40px;
}

.dropdown_menu_arrow {
    top: 35px;
    left: 25px;
    z-index: 2;
    pointer-events: none;
}

.tr {
    transform: rotate(180deg);
}

.rate_number {
    font-family: 'LatoB';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0em;
}

.footer_block2_elem2, .footer_divider1, .footer_divider2, .footer_divider3, .s3_b_footer_btn_text2, .nav_element, .rate_number {
    display: none !important;
}

.desc_adaptive {
    display: none !important;
}

.nav_element_rotate1, .nav_element_rotate2 {
    background-color: rgba(255, 255, 255, 1);
}

.nav_element_rotate1 {
    transform: rotate(45deg);
}

.nav_element_rotate2 {
    transform: rotate(-45deg);
    top: 50% !important;
}

.menu2 {
    display: none;
}

.breadcrumbs {
    width: 1234px;
}

.breadcrumbs a.blue_color {
    font-family: 'LatoB';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

.breadcrumbs a.pink_color {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.catalog_block_element1 {
    width: 30%;
    align-items: center;
    justify-content: center;
}

.catalog_block_element2 {
    align-items: center;
    width: 70%;
}

.catalog_block_element2 span {
    margin-left: 5px;
}

.catalog_block_element2 img {
    width: 32px;
}

.catalog_filter_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.catalog_filter_cards > * {
    margin: 10px;
}

.display-none {
    display: none;
}

.filter_screen_text button{
    background-color: transparent;
}

.footer_button_text2, .cart_block .contacts_text2 {
    display: none;
}

.wallpaper_screen_elem1_body_block1 .wallpaper_screen_elem1_footer {
    display: none !important;
}

.bc_block {
    display: none;
}

.goods_bg {
    right: 100px;
    top: -150px;
}

.goods_elem2_header_text2 {
    display: none;
}

.goods_elem1_body_block_last {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.goods_elem2_footer_text2 {
    display: none;
}

.catalog_filter_block .bread {
    width: 100%;
    margin-left: auto;
}

.wallpaper_block .contacts_text2 {
    display: none;
}

.screen2_blocks a {
    text-decoration: none;
}

.header_block3 a {
    color: inherit;
    text-decoration: none;
}



.carousel__pagination-button {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    background: #869791;
}

.carousel__pagination-button--active {
    background-color: #00ADB5;
}

.carousel__pagination-button:after {
    display: none;
}

.carousel__pagination {
    padding-left: 0;
    margin: 30px auto 0;
    left: 50%;
    right: 50%;
    /* bottom: -100px; */
    position: absolute;
}

.carousel__prev, .carousel__next {
    color: #fff;
    z-index: 1;
    border-radius: 100%;
}

.carousel__next {
    right: -60px;
    background-color: #00ADB5;
}

.carousel__prev {
    left: -60px;
    background-color: #00ADB5;
}


.multiselect {
    border-radius: 14px;
    border-color: #00ADB5;
}

.multiselect.is-active {
    border-radius: 14px 14px 0 0 ;
    border-color: #00ADB5;
    background: #00ADB5;
}


.multiselect.is-active .multiselect-placeholder,
.multiselect.is-active .multiselect-single-label-text {
    color: #fff;
}

.multiselect.is-active .multiselect-single-label-text {
    border-radius: 14px;
}

.multiselect-placeholder {
    padding-right: 0;
}

@media (max-width: 900px) {

    .screen3_text_bg_pink {
        background-color: #ffedf6;
    }

    .screen3_text_bg_orange {
        background-color: #fff1e6;
    }

    .screen3_text_bg_blue {
        background-color: #00ADB51A;
    }

    .menu2 {
        display: flex;
        background-color: #00ADB5;
        padding: 30px 60px 30px 60px;
        z-index: 4;
        top: 49px;
        left: -100%;
        height: calc(100vh - 49px);
        transition: .1s ease-in-out;
    }
    
    .menu2_open {
        left: 0;
    }
    
    .menu2_block1 {
        height: auto;
        margin-bottom: 50px;
    }
    
    .menu2_block1_element_text1, .menu2_block1_element_text2, .menu2_block1_divider {
        display: flex;
        align-items: center;
        height: 25px;
    }
    
    .menu2_block1_element_text1 {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
    }
    
    .menu2_block1_element_text2 {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
    }
    
    .menu2_block2 .search {
        height: auto;
        margin-top: 40px;
    }

    .menu2_block2 .search form {
        width: 100%;
        border-radius: 5px;
        height: auto;
        padding: 5px 0px;
    }
    
    .menu2_block1_divider div {
        width: 56px;
        top: 50%;
        left: 0;
    }
    
    .menu2_block1_divider div, .menu2_block2_divider div {
        height: 1px;
        background-color: #fff;
    }
    
    .menu2_block2_divider div {
        width: 174px;
        top: 50%;
        left: calc(50% - 174px / 2);
    }
    
    .menu2_block2_element {
        width: 130px;
    }
    
    .menu2_block2_element svg {
        width: 36px;
        height: 36px;
    }

    .menu2 .number {
        display: block !important;
    }

    .menu2 .contacts {
        margin: 30px 0px !important;
    }

    .screen2_text {
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 800;
        line-height: 27px;
        letter-spacing: 0.05em;
    }

    .desc {
        display: none !important;
    }

    .desc_adaptive {
        display: flex !important;
    }

    .desc_adaptive button {
        width: 141px;
        height: 38px;
        border-radius: 8px;
        align-self: center;
        margin-top: 18px;
        background-color: #FF449F;

        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.05em;
    }

    .menu {
        height: 46px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu_logo img{
        width: 140px;
        height: 34px;
    }

    .screen2 {
        width: auto;
        height: auto;
        padding-top: 65px;
        padding-bottom: 25px;
    }

    .search {
        display: none;
    }

    .menu_contacts, .number, .screen2_blocks, .screen2_block, .menu_cart_block {
        display: none !important;
    }

    .screen2_text, .screen2_text span {
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 800;
        line-height: 27px;
        letter-spacing: 0.05em;    
    }

    /* .block2 {
        padding-top: 52px;
    } */

    .block2, .block4, footer {
        border-top: 3px solid #FF449F;
    }

    .border_top, .block5 {
        border-top: 3px solid #EBB313;
    }

    .nav_element {
        display: flex !important;
        width: 17px;
        height: 17px;
        
    }

    .nav_element_line1 {
        top: 50%;
    }

    .nav_element_line1, .nav_element_line2 {
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 1px;
        z-index: 3;
        transition: .1s ease-in-out;
    }

    .nav_element_line2 {
        top: 100%;
    }

    .header_block3 {
        width: 25px;
        justify-content: center !important;
    }

    .screen3_block {
        justify-content: baseline !important;
        width: 238px;
        height: 458px;
    }

    .discount {
        width: 46px;
        height: 26px;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .screen3_blocks {
        margin-top: 30px;
        width: 100%;
        justify-content: center !important;
    }

    .screen3_text {
        display: flex;
        width: 100%;
        height: 62px;
        padding-bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .screen3_text span {
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 800;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .prevButton1_m, .prevButton2_m, .prevButton3_m, .nextButton1_m, .nextButton2_m, .nextButton3_m {
        display: block !important;
    }

    .prevButton1_m svg, .prevButton2_m svg, .prevButton3_m svg {
        transform: rotate(180deg);
    }

    .block3 {
        height: 600px;
        margin-bottom: 40px;
    }

    .s3_b1_text, .s3_b_text {
        height: 50px;
    }

    .s3_b_f_text1 {
        margin-bottom: 2px;
    }

    .s3_b_f_text2 {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .nextButton_img {
        width: 20px;
        height: 20px;
    }

    .prevButton1, .prevButton2, .prevButton3 {
        display: none !important;
    }

    .nextButton1, .nextButton2, .nextButton3 {
        display: none;
    }

    .star {
        display: none;
    }

    .sale {
        display: none;
    }

    .fire {
        display: none;
    }

    .s3_b_img img {
        width: 100%;
        height: 210px;
    }

    .s3_b_text1 {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        align-self: center !important;
    }

    .s3_b_text2 {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        height: Calc(36% + 2px);
    }

    .s3_b_footer_blue, .s3_b_footer_pink, .s3_b_footer_orange {
        height: 62px;
    }

    .s3_b_footer_orange button, .s3_b_footer_blue button, .s3_b_footer_pink button {
        width: 96px;
        height: 37px;
        border-radius: 5px;
    }

    .s3_b_footer_orange button img, .s3_b_footer_blue button img, .s3_b_footer_pink button img {
        display: none !important;
    }

    .s3_b_footer_btn_text1 {
        display: none !important;
    }

    .s3_b_footer_btn_text2 {
        display: block !important;
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
    }

    .screen3 {
        width: 100%;
        height: 600px;
        padding: 0 !important;
    }

    .block4 {
        margin-top: 80px;
    }

    .screen4 {
        width: auto;
        height: auto;
    }

    .screen4_blocks {
        height: 65%;
    }

    .row1 {
        display: none !important;
    }

    .row2 {
        flex-direction: column !important;
        align-items: center !important;
        width: auto;
        height: 100%;
    }

    .screen4_element {
        width: 215px;
        height: 128px;
        margin-bottom: 15px;
    }

    .rate_star {
        display: none;
    }

    .screen4_text span {
        font-family: 'LatoB';
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0em;
    }

    .screen4_text {
        margin: 30px 0;
    }

    .screen4 button {
        width: 141px;
        height: 32px;
        border-radius: 8px;
        margin: 15px 0px 30px 0px;
    }

    .screen4 button span {
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.05em;
    }

    .s4_e_h_element {
        width: 140px;
        padding-left: 5px;
    }

    .s4_e_h_date {
        font-family: 'LatoB';
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
        letter-spacing: 0em;
        /* margin-bottom: 10px; */
    }

    .s4_e_h_text {
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
        white-space: nowrap;
    }

    .rate_number {
        display: block !important;
        color: #EBB313;
        align-self: center;
        /* text-align: center; */
    }

    .s4_text {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-overflow: ellipsis;
        height: 60px;
        overflow: auto;
        position: relative;
    }

    .s4_text::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to top, #fff, transparent);
    }

    .rate img {
        width: 18px;
        height: 18px;
    }

    .rate {
        height: 20px;
        align-items: normal !important;

    }

    .owl-stage-outer {
        width: 238px !important;
    }

    .owl-dots {
        top: 470px !important;
    }

    .screen3_cards {
        justify-content: center !important;
        width: 250px;
    }

    .prevButton1 {
        width: 20px;
        height: 20px;
        display: flex;
        transform: rotate(180deg);
    }

    .foot {
        justify-content: flex-start !important;
        flex-direction: column !important;
        width: 300px;
    }

    .contact {
        height: 32px;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
    }

    .footer_block1 {
        width: auto;
        height: 63px;
        align-items: center !important;
        /* margin-bottom: 60px; */
    }

    .footer_block1 img {
        width: 225px;
    }

    .footer_block1 span {
        display: none !important;
    }

    .footer_block, .footer_text1 {
        display: none !important;
    }

    .footer_block2 {
        height: auto;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .footer_block2_elem1 {
        align-items: center !important;
        /* margin: 50px 0; */
    }

    .footer_block2_elem2 {
        display: flex !important;
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .footer_divider1, .footer_divider2, .footer_divider3 {
        display: block !important;
        align-self: center;
        width: 100px;
        height: 1px;
        background-color: #EBB313;
    }

    .footer_divider_block {
        margin: 40px 0;
    }

    .footer_divider_white {
        background-color: #fff;
    }

    .footer_divider1 {
        top: 32%;
    } 

    .footer_divider2 {
        top: 55%;
    }

    .footer_divider3 {
        top: 79%;
    }

    .contact div img {
        width: 36px;
        height: 36px;
    }

    .contact div {
        width: 150px !important;
    }

    .block2_c {
        display: none !important;
    }

    .about_company_block {
        border-top: 3px solid #FF449F;
        height: 100%;
        padding-top: 47px;
    }

    .about_company_text {
        justify-content: center !important;
        align-items: center !important;
        width: 300px;
        margin-bottom: 10px !important;
    }

    .about_company_text1, .contacts_text2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        margin-bottom: 0 !important;
        width: 100%;
        height: 60px;
    }

    .about_company_text1 span {
        margin-left: 5px;
        color: #FF449F;
    }

    .contacts_text2 span {
        margin-left: 5px;
    }

    .about_company_text2 {
        display: none !important;
    }

    .about_company_footer {
        width: 269px;
        height: 940px;
        justify-content: flex-start !important;
        margin: auto;
        border-radius: 5px;
    }

    .about_company_body {
        width: 100%;
        height: 85%;
        align-items: center;
        justify-content: space-between !important;
    }

    .about_company_body_row {
        justify-content: space-between !important;
        flex-wrap: wrap;
        width: 200px;
        height: 49%;
        flex-direction: column !important;
    }

    .about_company_body_elem {
        width: 200px;
        height: 120px;
        border-radius: 5px;
    }

    .about_company_body_elem img {
        border-radius: 3px;
    }

    .about_company_screen {
        margin: 0px;
        width: 300px;
        height: 1350px;
    }

    .about_company_footer button {
        width: 200px;
        height: 37px;
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
        border-radius: 5px;
        margin-top: 25px;
    }

    .about_company_footer span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        height: 50px;
    }

    .about_company_text3 {
        display: flex !important;
        width: 268px;
        height: 222px;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .about_company_text3 span {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .about_company_text3_block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 66px;
        border: 1px solid #00ADB5;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        color: #00ADB5;
        text-align: center;
    }

    .about_company_bg {
        display: none;
    }

    .breadcrumbs {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px 0px 15px 15px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        flex-wrap: wrap;
    }

    .breadcrumbs a.blue_color {
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .bc_block {
        background-color: #00ADB51A;
        height: auto;
        display: block;
    }

    .c_t1_span1, .c_t1_span3 {
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .c_t1_span1 {
        margin-right: 5px;
    }

    .c_t1_span2 {
        /* margin-left: 5px; */
        /* margin-bottom: 3px; */
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .c_t1_span3 {
        margin: 0px 5px;
    }

    .bc_border1 {
        width: 42.53px;
    }

    .bc_border1, .bc_border2 {
        top: 100%;
        left: 0;
        display: block !important;
        height: 1px;
        background-color: #00ADB5;
    }

    .bc_border2 {
        width: 45.58px;
    }

    .contacts_bottom_block {
        flex-direction: column;
    }

    .contacts_bottom_block iframe {
        width: 269px;
        height: 139px;
        border-radius: 5px;
        margin: 20px auto 20px auto;
    }

    .contacts_info {
        width: 269px;
        height: 392px;
        border-radius: 5px;
        margin: auto;
    }

    .contacts_block {
        height: 100%;
        border: 0;
        border-top: 3px solid #FF449F;
        padding-top: 47px;
    }

    .contacts_screen {
        width: 300px;
        margin: 0;
        height: 100%;
    }

    .contacts_icons {
        width: 110px;
    }

    .contacts_icons img {
        width: 30px;
        height: 30px;
    }
    
    .margin_block {
        margin-bottom: 20px !important;
    }

    .c_i_elem_span1 {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .c_i_elem_span2, .c_i_elem_span3 {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .c_i_elem_border_bottom {
        top: 125%;
    }

    .c_i_elem_span1_width {
        width: 140px;
    }

    .bg_contacts {
        display: none;
    }

    .s3_b_footer_blue, .s3_b_footer_pink, .s3_b_footer_orange {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .s3_b_blue, .s3_b_pink, .s3_b_orange {
        border-radius: 5px;
    }

    .s3_b_img img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .catalog_screen {
        flex-direction: column !important;
        align-items: center !important;
        margin: 0 0 20px 0 !important;
    }

    .catalog_text2 span {
        margin-right: 5px;
    }

    .catalog_block_element2 span {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .catalog_block_element1 svg {
        width: 16px;
        height: 7px;
    }

    .catalog_block_element2 img {
        width: 25px;
        height: 25px;
    }

    .catalog_block_header {
        width: 219px;
        border-radius: 5px;
    }

    .catalog_block_text {
        height: 38px;
    }

    .catalog_block_margin {
        margin-top: 20px;
    }

    .dropdown_menu_click{
        margin: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .catalog_filter_block {
        border-top: 3px solid #FF449F;
        padding-top: 47px;
    }

    .catalog_filter_screen {
        height: 100%;
        margin: auto;
    }

    .catalog_filter_cards {
        width: 300px;
        display: none;
        flex-direction: column-reverse !important;
    }

    .filter {
        padding-right: 0;
        width: 238px;
        margin-bottom: 40px;
        display: none;
    }

    .filter_header {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .catalog_filter_cards .row .col {
        justify-content: center !important;
    }

    .catalog_filter_screen {
        width: 300px !important;
    }

    .catalog_filter_bottom {
        width: 300px !important;
        justify-content: center !important;
    }

    .filter_screen_text {
        margin: 0 !important;
    }

    .rs_value2_triangle {
        left: calc(90% + 1px);
    }

    .m_cards {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .m_cards .screen3_block {
        margin-bottom: 40px;
    }

    .show_filter {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 238px;
        background-color: #00ADB5;
        color: #fff;
        border-radius: 5px;
        margin-bottom: 20px;
        align-items: center;
    }

    .show_filter_header {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.01em;
    }

    .show_filter_header svg {
        margin-right: 5px;
    }

    .show_filter .filter {
        margin: 0;
        height: 100%;
    }

    .show_filter .filter .filter_body {
        padding: 0 15px !important;
        background-color: #fff;
    }

    .show_filter .filter .filter_footer {
        background-color: #e6f7f8;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .filter_body_center_btn {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .filter_body_center_btn .nice-select::after {
        right: 15px;
    }

    .filter_body_center_btn .nice-select {
        padding: 0 10px;
        border-radius: 5px;
    }

    .filter_footer button {
        border-radius: 5px;
    }

    .sort {
        display: none !important;
    }

    .filter_dots {
        display: none !important;
    }

    .wallpaper_block {
        border-top: 3px solid #FF449F;
        padding-top: 47px;
    }

    /* .wallpaper_block a {
        text-decoration: none;
    } */

    .cards_block {
        display: none !important;
    }

    .wallpaper_screen_elem1 {
        height: auto;
    }

    .wallpaper_screen_elem1_body_block1 img.w-100.h-100 {
        border: 1px solid #FF6B00;
        border-radius: 5px;
        border: 1px solid rgba(0, 173, 181, 0.2);
    }

    .wallpaper_screen_elem1_text, .wallpaper_screen_elem2, .wallpaper_screen_elem1 svg{
        display: none;
    }

    .wallpaper_screen_elem1_body_block1 .wallpaper_screen_elem1_footer {
        display: flex !important;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .wallpaper_screen_elem1_body_block1 .wallpaper_screen_elem1_footer img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid rgba(0, 173, 181, 0.2);
    }

    .wallpaper_screen_elem1_body {
        flex-direction: column !important;
        padding: 0 10px;
    }

    .wallpaper_screen {
        width: 300px;
        margin-top: 0;
    }

    .wallpaper_screen_elem1_body_block1 {
        width: 100%;
        height: auto;
        border: none;
    }

    .wallpaper_screen_elem1_body_e1, .wallpaper_screen_elem1_body_e2, .wallpaper_screen_elem1_body_e3 {
        width: 100%;
        border-radius: 5px;
    }

    .wallpaper_screen_elem1_body_e_header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .wallpaper_screen_elem1_footer {
        display: none !important;
    }

    .wallpaper_screen_elem1_body_e3_text {
        margin: 0;
        height: 41%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .wallpaper_screen_elem1_body_e1_text, .wallpaper_screen_elem1_body_e2_text, .wallpaper_screen_elem1_body_e3_text {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        background-color: #e6f7f8;
    }

    .wallpaper_screen_elem1_body_e2 {
        margin: 30px 0;
    }

    .wallpaper_screen_elem1_body_e1 {
        margin-top: 50px;
    }
    
    .wallpaper_screen_elem1_body_e1_text {
        display: block !important;
    }

    .wallpaper_screen_elem1_body_e1_text, .wallpaper_screen_elem1_body_e2_text {
        padding: 20px !important;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .wallpaper_screen_elem1_body_e1 span, .wallpaper_screen_elem1_body_e2 span {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .wallpaper_screen_elem1_body_e3_text li span.text-decoration-line-through {
        display: none;
    }

    .wallpaper_screen_elem1_body_e3_text li span.orange_color {
        color: #00ADB5;
    }

    .wallpaper_screen_elem1_body_e_footer input {
        width: 45px;
        height: 35px;
    }

    .wallpaper_screen_elem1_body_e_footer button.q-minus, .wallpaper_screen_elem1_body_e_footer button.q-plus {
        width: 30px;
        height: 35px;
    }

    .wallpaper_screen_elem1_body_e_footer {
        width: 100%;
        height: 40%;
        flex-wrap: wrap;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
    }

    .wallpaper_screen_elem1_body_block2, .wallpaper_screen_elem1_body_block2 {
        height: auto;
    }

    .footer_button {
        width: 100%;
        background-color: #FF6B00;
        color: #fff;
    }

    .footer_button_text1 {
        display: none;
    }

    .footer_button_text2 {
        display: block;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .footer_button img {
        display: none;
    }

    .wallpaper_block .contacts_text2 {
        display: flex;
        align-self: center;
        font-family: 'LatoB';
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
    }

    /* .wallpaper_block .contacts_text2 span {
        color: #FF6B00;
    } */

    .cart_block {
        border: 0;
        height: 100%;
        border-top: 3px solid #FF449F;
        padding-top: 47px;
    }

    .cart_block .bc_block 

    .cart_screen svg {
        display: none;
    }

    .wallpaper_screen_elem1_text {
        display: none;
    }

    .cart_block .contacts_text2 {
        display: flex;
    }

    .reciever_block {
        margin: 0 !important;
        flex-direction: column-reverse !important;
        padding: 0 15px;
    }

    .cart_screen {
        margin: 0 !important;
        height: 100%;
        width: 100%;
    }

    .reciever_block, .reciever_block_e2_body_block2 {
        width: 100%;
    }

    .reciever_block_e2_body_block2 {
        height: auto;

    }

    .reciever_block_e2_body_block2 div {
        margin-bottom: 10px;
    }

    .reciever_block_e2_1, .reciever_block_e2_2 {
        width: 100%;
        height: auto;
    }

    .choice_block1, .choice_block2 {
        width: 100%;
        height: auto;
        margin: 0px 0px 20px 0px;
        border-radius: 5px;
    }

    .reciever_block_e2_1_body, .reciever_block_e2_2_body {
        padding: 20px 10px;
        height: auto;
    }

    .reciever_block_e2_body_block3 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    .reciever_block_e1, .reciever_block_body_text1, .reciever_block_e2_2_body_block2_e1 input, .reciever_block_e2_2_body_block2_e2 input {
        width: 100%;
    }

    .reciever_block_e2_2_body_block2_e1 input, .reciever_block_e2_2_body_block2_e2 input {
        height: auto;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .reciever_block_e2_2_body_block2_e1 input {
        margin-bottom: 20px;
    }

    .reciever_block_e1 {
        height: 100%;
        margin: 20px 0;
    }

    .entity_block {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }
    
    .reciever_block_body_text1 {
        flex-direction: column-reverse;
    }

    .reciever_block_input, .reciever_block_input_com, .reciever_block_e2_2_body_block2 {
        width: 100%;
        height: auto;
    }

    .reciever_block_footer button {
        width: 100%;
        height: auto;
        padding: 10px 0;
        border-radius: 5px;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .reciever_block_footer {
        display: block !important;
        width: 100%;
        padding: 20px 20px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: 1px solid #00ADB5;
    }

    .reciever_block_footer_text {
        font-family: 'LatoI';
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
    }

    .check_text {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        width: 100%;
    }

    .check_text span {
        margin: 0 !important;
    }

    .check_text span.blue_color {
        margin-right: 5px !important;
    }

    .reciever_block_body {
        padding: 20px 10px;
    }

    .choice_elem1, .choice_elem2 {
        padding: 5px 0;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .choice_elem1 {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .choice_elem2 {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .reciever_block_e2_footer_1, .reciever_block_e2_footer_2 {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .reciever_block_e2_footer_1 {
        padding: 20px 0;
    }

    .reciever_block_e2_footer_2 {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 10px 0;
    }

    .reciever_block_e2_footer_1 div {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .reciever_block_e2_header, .reciever_block_header {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        height: auto;
        padding: 15px 0;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 800;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .reciever_block_body_text1_italic {
        font-family: 'LatoI';
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        margin-bottom: 20px;
    }

    .body_block2_text2 {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .body_block2_text1 {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .reciever_block_e2_2_body_block2_e1 {
        height: auto;
    }

    .reciever_block_e2_2_body_block2 span {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
    }

    .reciever_block_e2_footer_2_text1 {
        margin-bottom: 10px;
    }

    .reciever_block_text_bold {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
    }

    .reciever_block_input {
        padding: 5px 10px;
    }

    .reciever_block_input_com {
        padding: 5px 0px 30px 5px;
    }

    .entity_block button span {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .entity_block button span.display-none {
        display: block;
    }

    .entity_block_text {
        display: none;
    }

    .entity_block1 {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .entity_block2 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .entity_block1, .entity_block2 {
        padding: 5px 0px;
    }

    .reciever_block_body input::placeholder, .com_placeholder, .reciever_block_e2_2_body_block2 input::placeholder {
        font-family: 'LatoI';
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .fb_pink {
        background-color: #FF449F;
    }

    .fb_blue {
        background-color: #00ADB5;
    }

    .wallpaper_screen_elem1_body_block1 .wallpaper_screen_elem1_footer {
        display: flex !important;
    }

    .cart_screen_text {
        display: none;
    }

    .m_disc {
        display: none !important;
    }

    .goods_block img.position-absolute {
        display: none;
    }

    .goods_block {
        flex-direction: column !important;
        padding: 0px 15px;
        width: auto;
        margin: 0 !important;
        justify-content: center;
        margin-bottom: 50px !important;
    }

    .goods_elem1 {
        width: auto;
        height: auto;
        margin: 0 !important;
    }

    .goods_elem1_header_elem2_t2 {
        display: none;
    }

    .goods_elem1_body_block_end_header {
        flex-direction: column !important;
        height: auto;
    }

    .goods_img {
        display: none;
    }

    .goods_elem1_body_block {
        height: auto;
        justify-content: start !important;
        padding: 0px 0px 0px 10px !important;
        border-radius: 0;
    }

    .goods_elem1_body_block label {
        margin-right: 10px;
    }

    .goods_elem1_header_text1 {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-decoration: underline;
        text-decoration-color: #00ADB5;
    }

    .goods_elem1_header_text2 {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        margin-top: 20px;
    }

    .goods_elem1_body_block_end {
        border-left: 1px solid #00ADB533;
        padding: 10px 20px 10px 10px;
        height: auto;
        width: 100%;
    }

    .goods_elem1_header_elem2 {
        /* padding: 10px 0px 10px 10px !important; */
        padding-left: 10px !important;
        height: auto;
    }

    .goods_elem1_header_elem2 div.me-4 {
        margin-right: 10px !important;
    }

    .goods_elem1_header_elem2_text {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #00ADB533;
        height: 100%;
        text-align: center;
        padding: 20px 10px;
    }

    .goods_elem1_header_elem2_t1 {
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0em;
        height: auto;
    }
    
    .goods_elem1_header_elem1, .goods_elem2_header {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        height: auto;
        padding: 15px 0;
    }

    .goods_elem1_header_elem1 span, .goods_elem2_header span {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: 0em;
    }

    .goods_elem2 {
        height: auto;
        width: auto;
        margin-top: 30px;
    }

    .goods_elem2_footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 10px 20px;
        height: auto;
    }

    .goods_elem2_body_border1 {
        left: calc(50% - 25px);
        top: 40%;
    }

    .goods_elem2_body_border2 {
        left: calc(50% - 25px);
        top: 58%;
    }

    .goods_elem2_header_text1 {
        display: none;
    }

    .goods_elem2_header_text2 {
        display: block;
    }

    .end_div2_text1, .goods_elem1_body_block_end_div1 {
        font-family: 'LatoB';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .end_div2_text2 {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .goods_elem1_body_block_end_div2 {
        height: auto;
        border-radius: 5px;
        padding: 8px 0;
    }

    .goods_elem1_body_block_last {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .goods_elem1_body_block_end_header img {
        display: block;
        margin: 20px 0;
        border-radius: 5px;
    }

    .goods_elem1_body_block_end_header div.position-relative, .goods_elem1_body_block_end_footer svg {
        display: block;
    }

    .goods_elem1_footer_text1, .goods_elem1_footer_text2, .goods_elem2_footer_text1 {
        display: none;
    }

    .goods_elem1_body_block div .discount {
        display: none !important;
    }

    .goods_elem2_footer button {
        width: 100%;
        border-radius: 5px;
        height: auto;
        padding: 10px 0;
    }

    .goods_elem2_footer_text2 {
        display: block;
        font-family: 'LatoB';
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .goods_elem1_body_block_end_footer_bottom_m {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .goods_elem1_body_block_end_footer {
        flex-direction: column;
        height: auto;
    }

    .goods_elem1_body_block_end_footer_bottom_m_text1 {
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .goods_elem1_body_block_end_footer_bottom_m_text2 {
        color: #D9D9D9;
        text-decoration: line-through;
        text-decoration-color: #FF449F;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.05em;
    }

    .goods_elem1_body_block_end_footer_b1 {
        justify-content: space-between;
        margin: 20px 0;
    }
    
    .goods_elem1_body_block_end_footer_b1 .q_block .q-plus {
        padding: 0px 15px;
    }

    .goods_elem1_body_block_end_footer_b1 .q_block .q-minus, .goods_elem1_body_block_end_footer_b1 .q_block .q-plus {
        height: auto;
        width: auto;
    }

    .goods_elem1_body_block_end_footer_b1 .q_block .q-minus {
        padding: 0px 18px;
    }

    .goods_elem1_body_block_end_footer_b1 .q_block .quantity {
        padding: 10px 0px;
        height: auto;
        width: 50px;
    }

    .goods_elem2_body_center {
        font-family: 'LatoB';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        height: auto;
    }

    .goods_elem2_body {
        height: auto;
        padding: 20px 0;
    }
    .goods_elem2_body_center_gray {
        margin: 30px 0;
    }

    .goods_disc {
        top: 30px;
        left: 10px;
        color: #fff;
        border-radius: 5px;
        font-family: 'Lato';
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0em;
        padding: 5px;
    }

    .text_decoration_orange {
        text-decoration-color: #FF6B00;
    }

    .text_decoration_pink {
        text-decoration-color: #FF449F;
    }

    .goods_elem1_footer_text {
        display: none !important;
    }

    .cart_img {
        display: none;
    }

    .cart_screen {
        padding: 0px 50px 50px 50px;
    }
    
    .cart_block .bc_block .breadcrumbs .c_t1_span1, .contacts_block .bc_block .breadcrumbs .c_t1_span1, .catalog_filter_block .bc_block .breadcrumbs .c_t1_span2 {
        margin: 0;
    }

    .cart_screen_block span.blue_color {
        font-family: 'LatoB';
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .cart_screen_elem {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .cart_screen_elem span {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
    }

    /* .contacts_text2 {
        display: none;
    } */

    .filter_screen_text .contacts_text2 span {
        color: #FF449F;
    }

    nav {
        position: fixed !important;
    }

    .contacts_text {
        display: flex;
    }

    .bread {
        display: none;
    }

    .pad {
        padding: 50px;
    }

    .mobile_header_border {
        border-bottom: 3px solid #FF449F;
    }

    .border_bottom_pink2 {
        border: none;
    }

    .contacts_screen .contacts_text {
        display: none !important;
    }

    .contacts_screen .contacts_text2 {
        margin: 0;
    }

    .contacts_screen .contacts_text2 span {
        margin-right: 5px;
        color: #FF449F;
    }

}