<script setup>
</script>
<template>
<footer class="w-auto d-flex bg_blue mt-auto">
    <div class="foot m-auto d-flex flex-row justify-content-between align-items-center position-relative">
        <div class="footer_block1 d-flex justify-content-between flex-column">
            <router-link to="/"><img src="/svg/logo.svg"></router-link>
            <span class="white_color text-center align-items-end">© 2021 – 2023 «Обойкис»</span>
        </div>
        <div class="footer_divider_block">
            <div class="footer_divider1 footer_divider_white"></div>
        </div>
        <div class="footer_block d-flex flex-row justify-content-between">
            <div class="footer_element d-flex flex-column">
                <span class="footer_text1 white_color mb-3">Компания</span>
                <div class="d-flex flex-column justify-content-between footer_text2 white_color h-25">
                    <router-link to="/about">О компании</router-link>
                    <router-link to="/contacts">Контакты</router-link>
                </div>
            </div>
            <div class="footer_element d-flex flex-column">
                <span class="footer_text1 white_color mb-3">Каталог</span>
                <div class="d-flex flex-column justify-content-between footer_text2 white_color h-100">
                    <span>Обои</span>
                    <span>Фотообои</span>
                    <span>Фрески</span>
                    <span>Лепной декор</span>
                    <span>Клей</span>
                </div>
            </div>
            <div class="footer_element d-flex flex-column">
                <span class="footer_text1 white_color mb-3">Доставка</span>
                <div class="d-flex flex-column justify-content-between footer_text2 white_color h-25">
                    <span>Условия доставки</span>
                    <span>Способы оплаты</span>
                </div>
            </div>
        </div>
        <div class="footer_block2 d-flex justify-content-between flex-column">
            <div class="contact d-flex flex-column">
                <span class="footer_text1 white_color text-end mb-3">Свяжитесь с нами</span>
                <div class="text-end d-flex w-50 justify-content-between align-items-end align-self-end">
                    <a href="#"><img src="/svg/vk_icon2.svg"></a>
                    <a href="#"><img src="/svg/tg_icon2.svg"></a>
                    <a href="#"><img src="/svg/wa_icon2.svg"></a>
                </div>
            </div>
            <div class="footer_divider_block">
                <div class="footer_divider2 footer_divider_white"></div>
            </div>
            <div class="d-flex flex-column align-items-end white_color flex-nowrap footer_block2_elem1">
                <a href="#"><span class="footer_block2_text1 f_b2_text_border_white">Политика конфиденциальности</span></a>
                <a href="#"><span class="footer_block2_text2 f_b2_text_border_white">Публичная оферта</span></a>
            </div>
            <div class="footer_divider_block">
                <div class="footer_divider3 footer_divider_white"></div>
            </div>
            <div class="footer_block2_elem2 d-flex justify-content-center align-items-center">
                <span class="white_color">© 2021 – 2023 «Обойкис»</span>
            </div>
        </div>
    </div>
</footer>
</template>