input[type=file] {
    display: none;
}

.form-control {
    min-height: 36px;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: auto;
}

.file_upload {
    position: relative;

    .form-control {
        cursor: pointer;

        padding-right: 40px;
        position: relative;

        &::after {
            content: '\F0214';
            display: block;
            position: absolute;
            color: #fff;
            top: 0;
            right: 0;
            border-radius: 0 5px 5px 0;
            padding: 3px 6px;
            font-family: "Material Design Icons";
            font-size: 20px;
            background: $sidebar-dark-bg;
        }
    }
}