// 
// _pagination.scss
// 

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px;
        border: none;
        text-align: center;
    }
}

.page-link {
    color: $success;
}

.page-link.active, .active>.page-link {
    border-color: $success;
    background-color: $success;
}